<b><p class="notice" style="color:#969696;"><%= flash[:notice] %></p></b>
<table style="width: 60%;padding-left: 100px;">
  <tr>
    <td>
      <table>
        <tr>
          <td><h4><%= if user_signed_in?
            current_user.first_name.to_s + "'s "
            end %>Shopping Cart</h4></td>
          </tr>
          <tr><td><img src="<%= image_path('shopping_cart.png')%>" height="140px" width="150px"></td></tr>
          <tr><td><h4>You have <%= @_controller.get_total_item_count.to_s%> items in your cart</h4></td></tr>
          <tr><td style="padding-left: 40px;">   <%= link_to 'Checkout',{ :controller => "cart", :action => "checkout"},:class => "btn btn-primary" %> </td> </tr>
          <tr> <td style="padding-left: 40px;">
            <%= link_to 'Back', request.env['HTTP_REFERER'], :class=> "btn btn-primary" %>
          </td></tr>
        </table>
      </td>

      <td><% total = 0 %>
        <table class="table table-bordered" style="width: 100%;">

          <tr style="background-color: #262626;color: #bbbbbb;">

            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
            <th></th>
          </tr>
          <% @_controller.get_all_items_in_cart.each do |cart_item|%>
          <% item=Item.find(cart_item.fetch("table").fetch("cart_item_id"))%>
          <tr>
            <td style="vertical-align: middle; text-align: center;"><%= link_to item.name, item_path(item) %></td>
            <td style="vertical-align: middle; text-align: center;"><%= price=item.price.to_i %></td>
            <td style="vertical-align: middle; text-align: center;"><%= count=cart_item.fetch("table").fetch("count")%></td>
            <td style="vertical-align: middle; text-align: center;"><%= price*count%></td>
            <td style="vertical-align: middle; text-align: center;"><%= link_to "Remove", remove_cart_path(item.id), :class => "btn btn-primary", :method => "get"  %></td>
          </tr>
          <% total = total + price*count %>
          <%end%>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="vertical-align: middle; text-align: center;">
              <% if (total!=0) %>
              <%= "Total = #{total}" %></td>
              <% end %>
            </tr>
          </table></td>
        </tr></table>
        <br/>







