<% provide(:title, 'Sign up') %>


<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>      <!-- Form for user registration -->
  <%= devise_error_messages! %>
    <div class="row" style="width: 50%;">
      <h1 style="padding-left: 40px;">Sign Up</h1><br/>
      <div class="span6 offset3">

  <%= f.label :first_name %>
  <%= f.text_field :first_name %>

  <%= f.label :last_name %>
  <%= f.text_field :last_name %>

  <%= f.label :email %>
  <%= f.email_field :email %>

<%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>    <br />





        <!-- in users/_form.html.erb -->


    <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
<% end %>
</div>
</div>
<%= render "devise/shared/links" %>
