<%= form_for @item, :html => { :multipart => true } do |f| %>
<table>
  <tr>
    <td>
      <%= f.label :name %>
      <%= f.text_field :name,:size=>"80x1" %>
    </td>
    <td style="vertical-align: top;">
      <%= f.label :pic %>
      <%= f.file_field :pic %>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.label :quantity %>
      <%= f.text_field :quantity, :size=>"80x1" %>
    </td>
    <td> <%= f.label :price %>
      <%= f.text_field :price,:size=>"80x1" %></td>
    </tr>
    <tr>
      <td>
        <%= f.label :sale_type %>
        <%= f.select(:sale_type,["Instant Sale","Auction"])%>
      </td>
      <td>
        <%= f.label :brand_id %>
        <%= f.collection_select :brand_id, Brand.all.sort(), :id, :name, :class => "dropdown-menu", :prompt => "Select a brand"%>
      </td>
    </tr>
  <tr>

    <% if @item.sale_type == "Instant Sale" || @item.sale_type==nil %>
        <td>
          <%= f.label :start_time %>
          <%= f.text_field :start_time,:value=>Time.now,:disabled=>1,:size=>"80x1" %>
        </td>
    <td> <%= f.label :end_time.to_s + "(yyyy-mm-dd)" %>
      <%= f.text_field :end_time,:size=>"80x1",:disabled=>1 %>
    </td>
    <% elsif @item.sale_type == "Auction" %>
        <td>
          <%= f.label :start_time %>
          <%= f.text_field :start_time,:value=>Time.now,:size=>"80x1" %>
        </td>
        <td> <%= f.label :end_time.to_s + "(yyyy-mm-dd)" %>
          <%= f.text_field :end_time,:size=>"80x1" %>
        </td>
        <% end %>

  </tr>
    <tr>
     <td>
       <%= f.label :category_id %>
       <%= f.collection_select(:category_id, @categories, :id, :name, {:prompt=>"Select Category"}) %>
     </td>
     <td>
      <%= f.label :subcategory_id %>
      <%= f.collection_select(:subcategory_id, @subcategories, :id, :name,{:prompt => "Select a Subcategory"}) %>
    </td>
  </tr>
</table>

<%= f.label :description %>
<%= f.text_area :description %>
    <input type="hidden" name="user_id" value="<%= User.current_user.id %>" id="user_id"/>
<div class="actions">
  <%= f.submit :class=>"btn btn-primary" %>
</div>
<% end %>

<script>
$("#item_category_id").change(function() {
  $.ajax({url: "/items/subcategories_by_category", type:"POST", data: {id: this.value}});
});
$("#item_sale_type").change(function() {
    if (this.value == "Auction")
    {document.getElementById('item_end_time').disabled=0;
        document.getElementById('item_start_time').disabled=0}
    else
    {document.getElementById('item_end_time').disabled=1;
        document.getElementById('item_start_time').disabled=0}
});
</script>
