
<%= form_for @item, :html => { :multipart => true, :id => "post_form" } do |f| %>
<table>
  <tr>
    <td>
      <%= f.label :name %>
      <%= f.text_field :name,:size=>"80x1" %>
    </td>
    <td style="vertical-align: top;">
      <%= f.label :pic %>
      <%= f.file_field :pic %>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.label :quantity %>
      <%= f.text_field :quantity, :size=>"80x1" %>
    </td>
    <td> <%= f.label :price %>
      <%= f.text_field :price,:size=>"80x1" %></td>
    </tr>
    <tr>
      <td>
        <%= f.label :sale_type %>
        <%= f.select(:sale_type,["Instant Sale","Auction"])%>
      </td>
      <td>
        <%= f.label :brand_id %>
        <%= f.collection_select :brand_id, Brand.all.sort(), :id, :name, :class => "dropdown-menu", :prompt => "Select a brand"%>
      </td>
    </tr>
  <tr>

    <% if @item.sale_type == "Instant Sale" || @item.sale_type==nil %>

    <td> <%= f.label :end_date.to_s + "(yyyy-mm-dd)" %>
      <%= f.text_field :end_time,:size=>"80x1",:disabled=>1 %>
    </td>
    <% elsif @item.sale_type == "Auction" %>
        <td> <%= f.label :end_date.to_s + "(yyyy-mm-dd)" %>
          <%= f.text_field :end_time,:size=>"80x1" %>
        </td>
        <% end %>

  </tr>
    <tr>
     <td>
       <%= f.label :category_id %>
       <%= f.collection_select(:category_id, @categories, :id, :name, {:prompt=>"Select Category"}) %>
     </td>
     <td>
      <%= f.label :subcategory_id %>
      <%= f.collection_select(:subcategory_id, @subcategories, :id, :name,{:prompt => "Select a Subcategory"}) %>
    </td>
  </tr>
</table>

<%= f.label :description %>
<%= f.text_area :description %>
    <input type="hidden" name="user_id" value="<%= User.current_user.id %>" id="user_id" size="40x4"/>
<div class="actions">
  <%= f.submit :class=>"btn btn-primary" %>
</div>
<% end %>

<script>
$("#item_category_id").change(function() {
  $.ajax({url: "/items/subcategories_by_category", type:"POST", data: {id: this.value}});
});
$("#item_sale_type").change(function() {
    if (this.value == "Auction")
    {document.getElementById('item_end_time').disabled=0;
        document.getElementById('item_start_time').disabled=1}
    else
    {document.getElementById('item_end_time').disabled=1;
        document.getElementById('item_start_time').disabled=1}
});
    var msg= new String();
    $("#post_form").submit(function() {
        var msg= new String();
        var today = new Date();

        if ($("#item_name").val() == "")
        { msg+="Name cannot be empty\n";
        }
        if ($("#item_quantity").val() == "")
        { msg+="Quantity cannot be empty\n";
        }
        if ($("#item_quantity").val() <= "0")
        { msg+="Quantity needs to be 1 or more\n";
        }
        if ($("#item_price").val() == "")
        { msg+="Price cannot be empty\n";
        }
        if ($("#item_brand_id").val() == "")
        { msg+="Brand cannot be empty\n";
        }
        if ($("#item_sale_type").val() == "Auction")
        {
            var enddate = new Date($("#item_end_time").val())
            if ($("#item_end_time").val() == "")
           {
               msg+="End Date cannot be empty for Auction\n";
           }
            if (enddate < today)
            {
                msg+="End Date cannot be in the past\n";
            }

        }
        if ($("#item_category_id").val() == "")
        { msg+="Category cannot be empty\n";
        }
        if ($("#item_subcategory_id").val() == "")
        { msg+="Subcategory cannot be empty";
        }
        if (msg.length >0)
        {
        alert(msg);
        return false;

        }


    });

</script>