<table class="table table-bordered" style="width: 40%;">
  <tr>
    <th>Name</th>
    <td><%= link_to @item.name, item_path(@item) %></td>
  </tr>
  <tr>
    <th>Brand</th>
    <td><%= @item.brand.name %></td>
  </tr>
  <tr>
    <th>Description</th>
    <td><%= @item.description %></td>
  </tr>
  <tr>
    <th>Image</th>
    <td><%= image_tag @item.pic.url(:medium) %></td>
  </tr>
  <tr>
    <th>Sale Type</th>
    <td><%= @item.sale_type %></td>
  </tr>

  <tr>
    <th>Quantity in Stock</th>
    <td><%= @item.quantity %></td>
  </tr>
      <tr>
        <th>Price</th>
        <td><%= @item.price %></td>
      </tr>

 <% if @item.sale_type == "Auction" %>
 <tr>
    <th>End Time</th>
    <td><%= @item.end_time %></td>
  </tr>
      <% time_left_sec = Time.parse(@item.end_time.to_s) - Time.parse(Time.now.to_s) %>
      <% time_left_hours = time_left_sec/3600 %>
      <% days_passed = (@item.end_time.to_date - Date.today).to_i %>
      <tr>
        <th>Time Left</th>
        <% if time_left_hours < 24 %>
            <td><%= time_left_hours.round%> Hours </td>
        <% else %>
        <td><%= days_passed%> Days</td>
      <% end %>
      </tr>
      <tr>
        <th>Current Highest Bid</th>
        <td><%= get_highest_bid(@item.id) %></td>
      </tr>
 <% end %>
  <tr>
    <th>Seller Info</th>
    <td><%= @item.user.first_name.to_s + " " + @item.user.last_name.to_s %></td>
  </tr>
</table>