<div style="padding:10px;width:45%;border-color: #4b4513;border-style:outset;border-width:2px;background-color: #f5f5ed;">
<h3>Current Items on Sale</h3>
<table class="table table-bordered table-condensed">

  <tr class="success">

    <%
       count = 0
       @items.each do |item|
         if item.user_id == User.current_user.id
           if item.sale_type == 'Auction'
            time_left_sec = Time.parse(item.end_time.to_s) - Time.parse(Time.now.to_s)
           end
           if (item.sale_type == 'Auction' && time_left_sec >= 0) || (item.sale_type != 'Auction')
           count = count + 1

    %>
            <td> <% if item.pic.exists? %>
                  <img src="/images/moimg.jpg">
                  <% else %>
              <%= image_tag item.pic.url(:medium)%>
                  <% end %>
                  </td>
            <td>
              <table class="table table-bordered table-condensed">
                <tr>
                  <td><b>Item Name:  </b><%= link_to item.name, item_path(item) %></td>
                </tr>
                <tr>
                  <td><b>Sale Type:  </b><%= item.sale_type %></td>
                </tr>
                <% days_passed = 0 %>
                <% if item.sale_type == 'Auction' %>
                    <% time_left_sec = Time.parse(item.end_time.to_s) - Time.parse(Time.now.to_s) %>
                    <% time_left_hours_1 = time_left_sec / 3600 %>
                    <% time_left_min_1 = time_left_sec / 60 %>
                    <% days_passed = (item.end_time.to_date - Date.today).to_i %>


                <tr>
                  <td><b>Time Left: </b><% if time_left_min_1 < 60 %>
                      <%= time_left_min_1.round%> Minutes </td>
                  <% elsif days_passed < 1 %>
                   <%= time_left_hours_1.round%> Hours </td>
                  <% elsif days_passed < 7 %>
                   <%= days_passed%> Day(s)</td>
                  <% else %>
                  <%= (days_passed/7).round %> Weeks (approx)</td>
                  <% end %>
                </tr>
                <% end%>
                <tr>
                  <td><b>Price:  $</b><%= item.price %></td>
                </tr>
                <tr>
                  <td><b>Quantity: </b><%= item.quantity %></td>
                </tr>
              </table>
            </tr>
        <%
           end
           end
           end
           if count == 0
        %> <caption>Nothing on sale</caption>
    <%
       end
    %>
    </table>
    </div>
<br/>
<%= link_to 'Back', request.env['HTTP_REFERER'], :class=> "btn btn-primary" %>
