<div style="padding:10px;width:45%;border-color: #4b4513;border-style:outset;border-width:2px;background-color: #f5f5ed;">
<h3>Current Items on Sale</h3>
<table class="table table-bordered table-condensed">

  <tr class="success">

    <%
       count = 0
       @items.each do |item|
         if item.user_id == User.current_user.id
           count = count + 1

    %>

            <td><%= image_tag item.pic.url(:medium) %> </td>
            <td>
              <table class="table table-bordered table-condensed">
                <tr>
                  <td><b>Item Name:  </b><%= link_to item.name, item_path(item) %></td>
                </tr>
                <tr>
                  <td><b>Sale Type:  </b><%= item.sale_type %></td>
                </tr>
                <tr>
                  <td><b>Price:  $</b><%= item.price %></td>
                </tr>
                <tr>
                  <td><b>Quantity: </b><%= item.quantity %></td>
                </tr>
              </table>
            </tr>
        <%
           end
           end
           if count == 0
        %> <caption>Nothing on sale</caption>
    <%
       end
    %>
    </table>
    </div>
<br/>
<%= link_to 'Back', request.env['HTTP_REFERER'], :class=> "btn btn-primary" %>
