<h3>Current Items on Sale</h3>
<table class="table table-bordered table-condensed" style="width:45%">

  <tr class="success">

    <%
       count = 0
       @items.each do |item|
         if item.user_id == User.current_user.id
           if item.sale_type == 'Auction'
            time_left_sec = Time.parse(item.end_time.to_s) - Time.parse(Time.now.to_s)
           end
           if (item.sale_type == 'Auction' && time_left_sec >= 0) || (item.sale_type != 'Auction')
           count = count + 1

    %>
            <td><%= image_tag item.pic.url(:medium) %> </td>
            <td>
              <table class="table table-bordered table-condensed">
                <tr>
                  <td><b>Item Name:  </b><%= link_to item.name, item_path(item) %></td>
                </tr>
                <tr>
                  <td><b>Sale Type:  </b><%= item.sale_type %></td>
                </tr>
                <tr>
                  <td><b>Price:  $</b><%= item.price %></td>
                </tr>
              </table>
            </tr>
        <%
           end
           end
           end
           if count == 0
        %> <caption>Nothing on sale</caption>
    <%
       end
    %>
    </table>

<%= link_to 'Back', request.env['HTTP_REFERER'], :class=> "btn btn-primary" %>
