<div id="item_list"><%= render 'item_detail' %>

<% if @item.user_id == User.current_user.id %>
    <%= link_to 'Edit Item', edit_item_path(@item), class: "btn btn-primary",:remote=>true %>
      <%= link_to 'View Bids', view_bids_bid_path(:id=>@item.id), class: "btn btn-primary" %>
  <% end %>
  </div>
<%= if @item.user_id != User.current_user.id
      if @item.sale_type == "Instant Sale"
        link_to 'Add to cart', { :controller => "cart", :action => "add", :item_obj => @item.id, :qty => 1 }, :class => "btn btn-primary", :method => "get"
      elsif @item.sale_type == "Auction"
        render 'bids/form'
    end end %>
 <br/>

<%= link_to 'Back', request.env['HTTP_REFERER'], :class=> "btn btn-primary" %>


