<table class="table table-bordered table-condensed" style="width:100%">

  <tr class="success">

    <% if @items.nil?
     @items = Item.last(5)
     puts "Popular Items"
   end

   @items.sort_by{|e| -e[:id]}.each do |item| %>
        <% days_passed = 0 %>
        <% if item.sale_type == 'Auction' %>
             <% time_left_sec = Time.parse(item.end_time.to_s) - Time.parse(Time.now.to_s) %>
            <% time_left_hours = time_left_sec/3600 %>
            <% time_left_min = time_left_sec/60 %>
            <% days_passed = (item.end_time.to_date - Date.today).to_i %>

          <% end%>   <!-- calculate number of days left -->
        <% if (item.sale_type == 'Auction' && time_left_sec >= 0) || (item.sale_type != 'Auction') %>              <!-- Does not show expired auctions -->
   <td><%= image_tag item.pic.url(:medium) %> </td>
   <td>
    <table class="table table-bordered table-condensed">
      <tr>
        <td><b>Item Name:  </b><%= link_to item.name, item_path(item) %></td>
      </tr>
      <% if item.sale_type=='Instant Sale'%>
      <tr>
        <td><b>Sale Type:  Instant Sale</b></td>
      </tr>
      <tr>
        <td><b>Price:  $</b><%= item.price %></td>
      </tr>
      <% elsif item.sale_type=='Auction'%>
      <tr>
        <td><b>Sale Type:  Auction</b></td>
      </tr>
      <tr>
        <td><b>Current Highest Bid:  $</b><%= get_highest_bid(item.id) %></td>
      </tr>

          <tr>

            <% if time_left_hours < 1 %>
                <td><b>Time Left: </b><%= time_left_min.round%> Minutes </td>
            <% elsif time_left_hours < 24 %>
                <td><b>Time Left: </b><%= time_left_hours.round%> Hours </td>
            <% elsif days_passed < 7 %>
                <td><b>Time Left: </b><%= days_passed%> Days</td>
            <% else %>
                <td><b>Time Left: </b><%= (days_passed/7).round %> Weeks (approx)</td>
            <% end %>        <!-- display number of days left -->
          </tr>
      <% end %>
      <tr>
        <td><b>Seller: <%= item.user.first_name.to_s + " " + item.user.last_name.to_s %></b></td>
      </tr>
    </table>
  </tr>
  <%
end
     end
%>
</table>
