
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2" style="width:100%;">

      <table class="table-bordered">
        <tr>
          <td style="width: 300px;vertical-align: top;">
            <h3 style="color: #262626;">Browse Catalogue</h3>
            <div class="tabbable tabs-left" style="width:100%;">
              <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                <% @categories.each do |category| %>
                    <li><a href="#tab<%= category.id %>" data-toggle="tab"><%= category.name %></a></li>
                <% end %>
              </ul>

              <div class="tab-content" >
                <% @categories.each do |category| %>
                    <div class="tab-pane" id="tab<%= category.id %>">

                      <table class="table table-bordered">
                        <%
                           subcategories = Subcategory.find_all_by_category_id(category.id)
                           subcategories.each do |subcat|
                        %>
                            <tr><td><%= link_to subcat.name , categories_path(:subcategory_id => subcat.id,:category_id => subcat.category_id),:remote=>true, :style=>'font-size:small;', :class => "css_class"%></td></tr>
                        <% end %>
                      </table>

                    </div>
                <% end %>

              </div>

            </div>
             <br/>
            <h3 style="color: #262626;">Manage Sale</h3>
            <div class="tabbable tabs-left" style="width:100%;">
              <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">

                <li> <%= link_to 'Sell Item', new_item_path, :remote => true %></li>
                <li> <%= link_to 'Current Auction/Sale', seller_index_category_path(:id => current_user.id), :remote => true %></li>
                <li> <a href='#'>Sale History</a></li>
                <li> <a href='#'>Purchase History</a></li>

              </ul>

            </div>
          </td>
          <td style="width: 800px;vertical-align: top;">
            <div id="item_list" style="width: 100%;vertical-align: top;"> <%= render 'categories/item' %></div>
          </td>
        </tr>

      </table>

    </div>

  </div>
</div>



