
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2" style="width:100%;">

      <table align="left" valign="top">
        <tr>
          <td width="35%" align="left" valign="top">

            <div class="tabbable tabs-left" style="width:100%;">
              <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                <% @categories.each do |category| %>
                    <li><a href="#tab<%= category.id %>" data-toggle="tab"><%= category.name %></a></li>
                <% end %>
              </ul>

              <div class="tab-content">
                <% @categories.each do |category| %>
                    <div class="tab-pane" id="tab<%= category.id %>">
                      <table>
                        <tr>
                          <td align="left" valign="top">
                          <td>
                            <table class="table table-bordered">
                              <%
                                 subcategories = Subcategory.find_all_by_category_id(category.id)

                                 subcategories.each do |subcat|
                              %>
                                  <tr><td><%= subcat.name %></td></tr>
                              <% end %>
                            </table>
                          </td>

                        </tr>
                      </table>
                    </div>
                <% end %>

              </div>

            </div> <!-- /tabbable -->

          </td>

          <td width="65%" align="left" valign="top">
            <div class="span10" style="float: left;">

              <div id="items"><%= render 'items/item' %></div>

            </div>
          </td>

        </tr>

      </table>

    </div>

  </div>
</div>



