
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2" style="width:100%;">

      <table class="table table-hover" style="border: #778899;border-style: outset;border-width:2px;width: 75%;">
        <tr>
          <td style="width: 35%;vertical-align: top;">

            <div class="tabbable tabs-left" style="width:100%;">
              <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                <% @categories.each do |category| %>
                    <li><a href="#tab<%= category.id %>" data-toggle="tab"><%= category.name %></a></li>
                <% end %>
              </ul>

              <div class="tab-content">
                <% @categories.each do |category| %>
                    <div class="tab-pane" id="tab<%= category.id %>">

                      <table class="table table-bordered">
                        <%
                           subcategories = Subcategory.find_all_by_category_id(category.id)
                           subcategories.each do |subcat|
                        %>
                            <tr><td><%= link_to subcat.name , items_path(:subcategory_id => subcat.id,:category_id => subcat.category_id),:remote=>true, :style=>'font-size:small;', :class => "css_class"%></td></tr>
                        <% end %>
                      </table>

                    </div>
                <% end %>

              </div>

            </div>

          </td>
          <td>
            <div id="index"> <%= render 'items/item' %></div>
          </td>
        </tr>

      </table>

    </div>

  </div>
</div>



