<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "BestBay", '/categories/index', id: "logo", class: "brand"%>         <!-- lets user come to main page from any page -->

      <%= form_tag categories_path, :method => 'get', :id => "items_search", :class => "navbar-search pull-left" do %>     <!-- gives search bar on each page -->
          <div class="nav">
            <%= text_field_tag :search, params[:search], :id => "search_keyword", :class => "search-query", :placeholder=>"Search", :style =>"width:450px;" %>
            <button type="submit" id="search_submit" style="visibility: hidden;" class="btn">Search</button>
          </div>
      <% end %>

      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home", root_path %></li>  <!-- gives the user navigation options based on whether he is signed in or not-->
          <li><%= link_to "Cart ("+@_controller.get_total_item_count.to_s+")", cart_index_path, {id: 'review_cart'} %></li>
          <% if (!user_signed_in?) %>
              <li><%= link_to "Sign In", user_session_path %></li>
              <li><%= link_to "Sell", user_session_path %></li>
          <% end %>
          <% if (user_signed_in?) %>

              <li id="fat-menu" class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Account <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <% if User.current_user.first_name == "Admin" %>
                      <li><%= link_to "Manage Website", categories_new_path %></li>
                      <li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %> </li>
                  <% else %>
                  <li><%= link_to "Profile", edit_user_registration_path %></li>

                  <li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %> </li>
                      <% end %>
                      </ul>
              </li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>