<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <link href="css/bootstrap.css" rel="stylesheet">
  <style type="text/css">
      body {
          padding-top: 60px;
          padding-bottom: 40px;

      }
      #silverlightControlHost {
          height: 450px;
          text-align:center;

      }
      button.image1 {
          background-image: url('<%= image_path('BuyBtn.png') %>');
          background-repeat: no-repeat;
          height: 95px;
          width: 184px;
          border: black;
      }
      button.image2 {
          background-image: url('<%= image_path('SellBtn.png') %>');
          background-repeat: no-repeat;
          height: 95px;
          width: 184px;
          border-style: none;
          outline-style: none;
      }
  </style>
  <link href="css/bootstrap-responsive.css" rel="stylesheet">

</head>
<body>
<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "BestBay", '/welcome/index', id: "logo", class: "brand"%>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "My Account",    '/courses' %></li>
          <li><%= link_to "Help",    '/notes' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>


<div class="container">
  <%= yield %>

  <footer class="footer" style="color: #ffffff;">
    <br/>
    <nav>
      <small class="nav pull-left">&copy; 2012 Team Juggernauts</small>
    </nav>

  </footer>
</div>

</body>
</html>