<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", "jquery.rails.js" %>
  <%= csrf_meta_tags %>

  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <link href="css/bootstrap.css" rel="stylesheet">
  <style type="text/css">
      body {
          padding-top: 60px;
          padding-bottom: 40px;
          width: 100%;
      }
      #silverlightControlHost {
          height: 450px;
          width: 100%;
      }
  </style>
  <link href="css/bootstrap-responsive.css" rel="stylesheet">

</head>
<body>
<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">

      <%= link_to "BestBay", '/welcome/index', id: "logo", class: "brand"%>

      <%= form_tag categories_path, :method => 'get', :id => "items_search", :class => "navbar-search pull-left" do %>
          <div class="nav">
            <%= text_field_tag :search, params[:search], :id => "search_keyword", :class => "search-query", :placeholder=>"Search", :style =>"width:450px;" %>
            <button type="submit" id="search_submit" style="visibility: hidden;" class="btn">Search</button>
          </div>
      <% end %>

      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Cart ("+@_controller.get_total_item_count.to_s+")", cart_index_path, {id: 'review_cart'} %></li>
          <li><%= link_to "My Account", '/seller/index' %></li>
          <li><%= link_to "Help",    '/welcome/index' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>

<div class="container" style="width: 95%;margin-left: 40px;">
  <%= yield %>
  <br/><br/>

  <footer class="footer" style="color: #a9a9a9;">
    <nav>
      <small class="nav pull-left">&copy; 2012 Team Juggernauts</small>
    </nav>
  </footer>

</div>

</body>
</html>